/* @import 'compass'; */

.container {
  width: 100%;
  height: 100px;
}

.card-img {
  width: 90%;
  height: 180px;
  background-color: #2a2a2a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 111 !important; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 5% 5% 0px 5%;
  position: relative;
}

.card {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 38%,
    rgba(255, 255, 255, 0.06) 39%,
    rgba(30, 27, 38, 0.88) 53%,
    rgba(30, 27, 38, 1) 55%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 38%,
    rgba(255, 255, 255, 0.06) 39%,
    rgba(30, 27, 38, 0.88) 53%,
    rgba(30, 27, 38, 1) 55%
  );
  background: linear-gradient(
    to bottom,
    rgba(30, 27, 38, 1.88) 53%,
    rgba(30, 27, 38, 1) 55%
  );

  /* position: absolute; */
  background-size: contain;
  background-size: cover;
  z-index: 11 !important;
  width: 300px;
  height: 525px;
  display: block;
  border-radius: 10px;
  border: 3px solid #aaaaaa;

  box-shadow: #aaaaaa 0px 2px 8px;
}

.text-card-cont {
  padding: 0px 12px;
  text-align: justify;
}

.action-row {
  margin-top: 24px;
}

.summary-row {
  margin-top: 12px;
}

/* TYPOGRAPHY STARTS */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #e7e7e7;
  margin: 0px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h5 {
  font-size: 12px;
  font-weight: 400;
}

.card-gen {
  margin: 0px;
  padding: 0px;
}

.card-gen li {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #e7e7e7;
  width: auto;
  display: block;
  float: left;
  margin-right: 6px;
  font-weight: 600;
}

.card-details {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #e7e7e7;
}

.card-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #e7e7e7;

  text-align: left;
  line-height: 1.3;
}

.card-parties {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #e7e7e7;
  font-style: italic;
}

.col1 h1 {
  text-align: left;
}

/* TYPOGRAPHY ENDS */

/** GRID STARTS **/

.thegrid {
  margin: 0 auto;
}

.elements-distance {
  margin: 0px;
}

.mr-grid {
  width: 100%;
}
.mr-grid:before,
.mr-grid:after {
  content: '';
  display: table;
}
.mr-grid:after {
  clear: both;
}
.mr-grid {
  *zoom: 1;
}

.col1,
.col2,
.col3,
.col3rest,
.col4,
.col4rest,
.col5,
.col5rest,
.col6,
.col6rest {
  margin: 0% 0.5% 0.5% 0.5%;
  padding: 1%;
  float: left;
  display: block;
}

/* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/

.col1 {
  width: 98%;
}
.col2 {
  width: 47%;
}
.col3 {
  width: 30.3333333333%;
}
.col4 {
  width: 22%;
}
.col5 {
  width: 17%;
}
.col6 {
  width: 13.6666666667%;
}

/* Columns match with their individual number. E.G. col3+col3rest=full width row */

.col3rest {
  width: 63.6666666667%;
}
.col4rest {
  width: 72%;
}
.col5rest {
  width: 77%;
}
.col6rest {
  width: 80.3333333333%;
}

.cellphone-container {
  position: relative;
}

.cellphone-container .card-parties {
  position: absolute;
  text-align: center;
  width: 90%;
  bottom: 0%;
  margin: 20px 0px;
}
